<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/counter.css" />
  <title>Counter</title>
</head>
<body>
 
  <div class="container">
    <div id="input-container">
      <input type="number" id="input-time" name="input-time">
      <button id="submit-time-btn" type="submit"></button>
    </div>
    <div id="counter-container">
      <h1 id="counter">0</h1>
    </div>
  </div>
</body>
<script src="./js/counterApplication.js"></script>
</html>