<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/counter.css" />
    <title>Counter</title>
  </head>
  <body>

    <div class="container">
      <div id="inputs-container">
        <div id="hours-container">
          <input
            type="number"
            placeholder="hours"
            id="input-hour"
            name="input-hour"
          />
        </div>
        <div id="minutes-container">
          <input
            type="number"
            placeholder="minutes"
            id="input-minute"
            name="input-minute"
          />
        </div>
        <div id="seconds-container">
          <input
            type="number"
            placeholder="seconds"
            id="input-second"
            name="input-second"
          />
        </div>
      </div>
      <div id="btn-div">
        <button id="submit-time-btn" type="submit">Start</button>
      </div>
      <div id="btn-div">
        <button id="pause-btn" type="submit" style="display: none">Pause</button>
      </div>
      <div id="btn-div">
        <button id="resume-btn" type="submit" style="display: none">Resume</button>
      </div>
      <div id="btn-div">
        <button id="reset-btn" type="submit" style="display: none">Reset</button>
      </div>
      <div id="counter-container">
        <h1 id="counter">{{{data}}}</h1>
      </div>
    </div>
  </body>
  <script src="./js/counterApplication.js"></script>
</html>