
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: red;
  width: 40%;
  margin: 100px auto;
  border-radius: 1em;
  height: 40%;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

#input-container{

  padding-top: 5px;
  height: 100px;
  width: 50px;
  margin: auto;
  margin-top: 75px;

}

#counter-container{
  text-align: center;
  justify-content: center;
  height: 50px;
  margin-top: 50px ;
  margin: auto;
}

#input-time{
 
  width: 100px;
  height: 25px;

}

#submit-time-btn{
  width: 40px;
  height: 20px;
}