* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  margin: 100px auto;
  border-radius: 1em;
  height: 40%;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

#inputs-container {
  margin: auto;
  margin-top: 75px;
  text-align: center;
}

#hours-container {
  padding-top: 5px;

  display: inline;
}

#minutes-container {
  padding-top: 5px;
  display: inline;
}

#seconds-container {
  padding-top: 5px;
  display: inline;
}

#counter-container {
  text-align: center;
  justify-content: center;
  /* height: 50px;
  margin-top: 75px; */
}

#input-hour,
#input-minute,
#input-second {
  padding: 0.5em 1em;
}

#btn-div {
  text-align: center;
}

#submit-time-btn,
#pause-btn,
#reset-btn,
#resume-btn {
  padding: 0.5em 1em;
  margin-top: 10px;
}

#reset-btn {
  margin-bottom: 1em;
}
